body {
	font-size:16px;
	color:#fff;
	background-color:#FAB162
;
	font-family:oxygen;
}
#header-nav{
	background-color:#000000;
	border-radius:0px;
	border: 0px;
}
#brand{
	color:white;
	font-size: 30px;
	opacity:1;
	text-align:left;
}
#brand h1{
	color:white;
}
.section{
	background-color:#F8E5E5;
	color:black;
	padding:0px 5px 5px 5px;
	margin:10px;
border-color: black;
border-width:5px;
}
.section h3{
	color:white;
	padding:10px;
	background:black;
	text-align:center;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar{
border: none;
background-color:black;
color:#FAB162;
}
.navbar-brand{
	font-size:25px;
}
#myNavbar ul li a{
	color:#FAB162;
}
#myNavbar ul li a:hover{
	background-color:white;
	opacity:0.9;
}
